#selectionPic {
    height: 150px;
    width: 200px;
}

.HeaderPic {
    width: 900px;
    height: 230px;
    border: 10px solid;
    padding: 10px;
    border-color: black;
}

h1 {
    text-align: center;
    font-size: 145px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

h3 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
}

form {
    text-align: center;
    font-size: 35px;
    color:white;
}


.Battlefield {
    background-repeat: no-repeat;
    
}

.smack {
    color:white;
}
