#selectionPic {
    height: 150px;
    width: 200px;
}
header {
    
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: auto;
    margin-bottom: 50px;
    height: 200px;
    width: 900px;
}

h1 {
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

h3 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
}

form {
    text-align: center;
}

.row {
    background-color: black;
    
}